/**
 * Copyright (c) 2011 The Chromium Authors. All rights reserved.
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file.
 */
body {
  margin: 5px 10px 10px;
}
.buttonTable {
    width: 100%;
	
}
.buttonColumn {    
    text-align: center;		
}
h1 {
  color: #53637D;
  font: 26px/1.2 Helvetica, sans-serif;
  font-size: 200%;
  margin: 0;
  padding-bottom: 4px;
  text-shadow: white 0 1px 2px;
}
label {
  color: #222;
  font: 18px/1.4 Helvetica, sans-serif;
  margin: 0.5em 0;
  display: inline-block;
}
form {
  width: 563px;
  -webkit-transition: -webkit-transform 0.25s ease;
}
button {
  display: block;
  border-radius: 2px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
  -webkit-user-select: none;
  background: -webkit-linear-gradient(#FAFAFA, #F4F4F4 40%, #E5E5E5);
  border: 1px solid #AAA;
  color: #444;
  margin-bottom: 0;
  min-width: 4em;
  padding: 3px 12px;
  margin-top: 0;
  font-size: 1.1em;
}
body > section {
  border-radius: 5px;
  background: -webkit-linear-gradient(rgba(234, 238, 243, 0.2), #EAEEF3),
  -webkit-linear-gradient(
  left, #EAEEF3, #EAEEF3 97%, #D3D7DB);
  font: 14px/1 Arial,Sans Serif;
  padding: 10px;
  
  max-height: 500px;
  overflow-y: auto;
  box-shadow: inset 0px 2px 5px rgba(0,0,0,0.5);
}
body > section > ol {
  padding: 0;
  margin: 0;
  list-style: none inside;
}
body > section > ol > li {
  position: relative;
  margin: 0.5em 0 0.5em 40px;
}
code {
  word-wrap: break-word;
  background: rgba(255,255,0, 0.5);
}
em {
  position: absolute;
  top: 0px;
  left: -40px;
  width: 30px;
  text-align: right;
  font: 30px/1 Helvetica, sans-serif;
  font-weight: 700;
}
p {
  min-height: 30px;
  line-height: 1.2;
}
.overlay {
  display: block;
  text-align: center;
  position: absolute;
  left: 50%;
  top: 50%;
  width: 500px;
  padding: 20px;
  margin: -40px 0 0 -270px;
  opacity: 0;
  background: rgba(0, 0, 0, 0.75);
  border-radius: 5px;
  color: #FFF;
  font: 1.5em/1.2 Helvetica Neue, sans-serif;
  -webkit-transition: all 1.0s ease;
  -webkit-transform: scale(0);
}
.overlay a {
  color:  #FFF;
}
.overlay.visible {
  opacity: 1;
  -webkit-transform: scale(1);
}
.truck_label {
	font-size: 1.1em;
}